# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
./node_modules
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/.angular

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
package-lock.json

Project_inbest/angular/dist
angular/.angular/cache/13.3.9/angular-webpack/58a0a3c85acfe281e9acba25acdb19d900fdf061/0.pack
angular/.angular/cache/13.3.9/angular-webpack/58a0a3c85acfe281e9acba25acdb19d900fdf061/index.pack
